<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>719829292297-423j917m0tt36bkiqeh9n287tea5m0mq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.719829292297-423j917m0tt36bkiqeh9n287tea5m0mq</string>
	<key>API_KEY</key>
	<string>AIzaSyB350sLv5oZnSHAnarC1gBRgKg-3LXwrk0</string>
	<key>GCM_SENDER_ID</key>
	<string>719829292297</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.PersonalProject.PiggyPatchwork</string>
	<key>PROJECT_ID</key>
	<string>piggypatchwork</string>
	<key>STORAGE_BUCKET</key>
	<string>piggypatchwork.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:719829292297:ios:6a855fe24c28959dea2fd8</string>
	<key>DATABASE_URL</key>
	<string>https://piggypatchwork.firebaseio.com</string>
</dict>
</plist>